body {
    font-family: Geneva,Tahoma,Verdana,sans-serif;
    height:100%;
}

html {
    height: 100%;
}

textarea{
    resize: none;
}

.button-no-style {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline-width: 0;
}

.button-no-style:focus {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    outline-width: 0;
    border-color:transparent;
}

.button-no-style:active {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline-width: 0;
}

.button-no-style:focus {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline-width: 0;
}

.button-no-style:hover {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline-width: 0;
}

.button-no-style:visited {
    padding: 0;
    background: none;
    color: #e27d60;
    font-size: 16px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline-width: 0;
}

.note-preview-title{
    display: inline-block;
    color:#333333;
    font-size: 14px;
    width: 250px;
    min-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-preview-text{
    margin-top: 15px;
    display: inline-block;
    color:#959595;
    font-size: 14px;
    width: 250px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-preview-item {
    padding-top:15px;
    padding-left:15px;
    padding-bottom:15px;
    cursor:pointer;
}

.note-preview-item:hover {
    background-color: #FCF2EF;
}

.button-action {
    padding: 10px;
}

.button-action:focus {
    padding: 10px;
    background-color: #FCF2EF;
}

.button-action:active {
    padding: 10px;
    background-color: #FCF2EF;
}

.button-action:focus {
    padding: 10px;
    background-color: #FCF2EF;
}

.button-action:hover {
    padding: 10px;
    background-color: #FCF2EF;
}

.button-action:visited {
    padding: 10px;
}

.sidebar{
    min-width: 300px;
    max-width: 300px;
    min-height: 90vh;
    border-right: 1px solid #e5e5e5;
    padding-top: 20px;
}

.note-textarea {
    min-height: 84vh;
    border: 1px solid #ffffff;
}

.note-input {
    border: 1px solid #ffffff;
    border-bottom-color: #e5e5e5;
}

.placeholder-message {
    margin-top: 10%;
}

.topbar {
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    line-height: 3em;
}

.note-area {
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    float:left;
    font-size: 24px;
    color: #e27d60;
    width: 285px;
}